/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 15px 25px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.pricing-plan {
  text-align: center;
  border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}

.pricing-header {
  font-weight: 600;
  letter-spacing: 1px;
  color: #888888;
}

.pricing-features {
  color: #016FF9;
  margin: 50px 0 25px 0;
}

.pricing-features-item {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;

}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  display: inline-block;
  font-size: 16px;
  color: #348EFE;
  margin: 25px 0;
  padding: 15px 35px;
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  text-decoration: none;
}

.is-featured {
  background-color: #48AAFF;
  color: #fff;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }

  .pricing-plan {
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
    border-bottom: none;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}