@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1 {
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;

}